
.fraction {
  display: inline-block;
  vertical-align:bottom; 
  margin-left: 0.3em;
  text-align: center;
& > span {
  display: block;
  padding-top: 0.15em;
}
& span{
  &.fdn {
    border-top: thin solid #fff;
  }
}
}